@*@model IEnumerable<Post>*@
@model ComplexModel

@{
    ViewData["Title"] = "Блог";
}

<style>
    .glyphicon { display: inline-block; padding:0 5px;}
    .glyphicon-chevron-right:after { content: "\00BB"; }
    .glyphicon-chevron-left:before { content: "\00AB"; }
</style>

<div class="wrapper">
    <div class="container-fluid container-xl">
        <div class="row py-2 posts__area">
            <div class="col-12">
                <div class="row">
                    <div class="col-3"><a class="btn btn-info" href="@Html.Raw(Model.UrlForOtherSortOrder(Model.SortViewModel.Current == SortState.TitleDesc ? SortState.TitleAsc : SortState.TitleDesc))" >По заголовку</a></div>
                    <div class="col-3"><a class="btn btn-info" href="@Html.Raw(Model.UrlForOtherSortOrder(Model.SortViewModel.Current == SortState.DateDesc ? SortState.DateAsc : SortState.DateDesc))">По дате</a></div>
                </div>
            </div>
            
            @foreach (var post in Model.Posts)
            {
                <div class="col-md-6">
                    <div class="post">
                        <div class="post__title">@post.Flag</div>
                        <div class="post__title">@post.Title</div>
                        <div class="post__text">@post.Text</div>
                        <div class="post__author">@post.PostDate / @post.Author</div>

                    </div>
                </div>
            }

            <p>
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <a href="@Html.Raw(Model.UrlForOtherPage(-1))" class="glyphicon glyphicon-chevron-left">
                        Назад
                    </a>
                }
                @if (Model.PageViewModel.HasNextPage)
                {
                    <a href="@Html.Raw(Model.UrlForOtherPage(1))" class="glyphicon glyphicon-chevron-right">
                        Вперед
                    </a>
                }
            </p>

        </div>
    </div>
</div>

