@using uBlog.Domain
@model Post
@*@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@

@{
    ViewData["Title"] = "Редактирование материала " + @Model.Title;

    DateTime currentDate = DateTime.UtcNow;

    var Topics = Data.RamTopics;

}

<div class="wrapper">
    <div class="container-fluid container-xl">
        <div class="row py-2 posts__area">
            <div class="col-12">
                <h1>Редактировать пост: </h1>
                <div class="addPost">
                    <form action="/Admin/UpdatePost" method="post">
                        @*<input id="Id" name="Id" type="hidden" value="@Model.Id.ToString()">*@
                        @Html.HiddenFor(x => x.IdAsString)
                        @*<div class="mb-3">
                            <label class="form-label" for="PostDate">Id</label>
                            <input class="form-control" id="_id" name="_id" type="text" value="@Model.Id">
                        </div>*@
                        <div class="mb-3">
                            <label class="form-label" for="PostDate">Date</label>
                            <input class="form-control" id="PostDate" name="PostDate" type="text" value="@Model.PostDate.ToString()">   @*"dd.MM.yyyy"*@
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="Title">Title</label>
                            <input class="form-control" id="Title" name="Title" type="text" value="@Model.Title">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="Text">Text</label>
                            <textarea class="form-control" id="Text" name="Text" type="text" value="">@Model.Text</textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="Author">Author</label>
                            <input class="form-control" id="Author" name="Author" type="text" value="@Model.Author">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="PostTopicIdAsString">Topic</label>
                            <select class="form-select" id="PostTopicIdAsString" name="PostTopicIdAsString">
                                @*<option value="" selected="@if(Model.PostTopicId.ToString() == "000000000000000000000000"){<text>selected</text>}">Укажите категорию</option>*@
                                @foreach(var option in Topics)
                                {
                                    <!option @if(Model.PostTopicId == @option.Id){<text>selected</text>} value="@option.Id">@option.Title</!option>
 
                                }
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


